html,
body{
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    background: #00aa77;
background-image: url("ZenBG-1.png"), url("ZenBG-2.png");
background-repeat: repeat-x, repeat;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    text-align: center;
}

h2{
    color: white;
    padding: 0.5em;
    margin-top: 5vh;
    text-align: center;
    font-family: 'Solway', serif;
    letter-spacing: 3px;
}

.input-item{
    padding: 1em;

}

input,
select{
    border:none;
    border-radius: 10px;
    padding: 0.7em;
}

input[type="submit"]{
    background-color: #66b3ff;
    color: white;
    padding: 1.2em;
}

input[type="submit"]:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

input[type="submit"]:active{
    box-shadow: 0 10px rgba(255, 255, 255, 0.5);
    transform: translateY(5px);
}

#inscriere{
    margin:1em;
}

@media only screen and (min-width: 768px) {
    .container{
        background: rgba(30, 33, 33, 0.5);
        width: 30%;
        padding: 2.2em;
        text-align: center;
        border-radius: 10px;
    }
}